[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git

[submodule "firmware"]
	path = firmware
	url = git@github.com:nan-mu/firmware.git

[submodule "xdp4"]
	path = xdp4
	url = https://github.com/nan-mu/xdp4.git
